* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat";
  color: #333;
  background: #D7D2D9; 
  line-height: 1.6;
  scroll-behavior: smooth;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh; /* full viewport */
  background: #D7D2D9;
}

.intro h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
  color: #C1C0C4;
  font-family: "alice";
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  text-align: center;
}


.intro p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: "montserrat";
  color: #C1C0C4;
}

/* Button group styling */
.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "montserrat";
  transition: background 0.3s ease;
  border: 0.2rem solid #BDD0F0;
}

.btn:hover {
  background: #BDD0F0;
} 

a {
  color: #541A48;
}

a1 {
  color: #BDD0F0;
}

/* Sections styling */
section {
  max-width: 75%;
  margin: 0 auto;
  padding: 4rem 4rem;
  font-family: "montserrat";
  font-size: 1.1rem;
  color: #040E4A;
  border-radius: 2rem;
  border-left: 0.5rem solid #040E4A;
  border-right: 0.5rem solid #040E4A;
  margin-top: 5rem;
  text-align: le ft;
}

#equal {
  font-size: 1rem;
}

section h2 {
  font-family: 'alice';
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #040E4A;
  letter-spacing: 0.2rem;
  text-indent: 0.4rem;
}

section h3 {
  font-weight: normal;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* Footer or bottom spacing */
footer {
  height: 4rem;
}


.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}


/* font used elsewhere */
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.scroll-down {
  display: inline-block;
  margin-top: 5rem;
  text-decoration: none;
  color: #C1C0C4;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.scroll-down:hover {
  color: #BDD0F0;
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background: url("files/poppies.jpeg") center center no-repeat;
  background-size: cover;
}

.intro::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1B2856;
  opacity: 0.80;
  z-index: 1;
}

.intro > * {
  position: relative;
  z-index: 2;
}

.about-pic {
  float: left;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  border: 5px solid #1B2856;
  margin: 1rem 1.5rem 0.5rem 0;
}


#blog {
    max-width: 800px;
    margin: 50px auto;
}

.blogPost {
    border: 1px solid #1B2856;
    border-radius: 8px;
    padding: 12px 18px;
    margin-bottom: 15px;
    background: #C1C0C4;
    opacity: 0.80;
}

.blogPost summary {
    color: #1B2856;
    font-style: normal;
}

.blogPost[open] {
    background:#C1C0C4 ;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    opacity: 0.80;
    color: #1B2856;
    font-style: normal;
}

.blog-post p {
    line-height: 1.6;
}


/* for mobile use! */
@media screen and (orientation: portrait) {
  .intro h1 {
    font-size: 3.5rem;
    letter-spacing: 0.18rem;
    text-indent: 0;
  }

  .btn-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }

  .btn {
    width: 9rem;
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  .intro p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .scroll-down {
    display: inline-block;
    margin-top: 4rem;
    text-decoration: none;
    color: #040E4A;
    font-size: 2rem;
    transition: color 0.3s ease;
  }

  section {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 2rem;
    font-family: "montserrat";
    font-size: 1rem;
    color: #040E4A;
    border-radius: 1rem;
    border-left: 0.2rem solid #040E4A;
    border-right: 0.2rem solid #040E4A;
    margin-top: 5rem;
    text-align: left;
  }

  #equal {
    font-size: 1rem;
  }

  section h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #BDD0F0;
    letter-spacing: 0.4rem;
    text-indent: 0.4rem;
  }

  section h3 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .about-pic {
    display: block;
    float: none;
    width: 80%;
    height: auto;
    border-radius: 1rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
  }


}
